.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 600px;
    height: auto;
}

.cardGrid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 70%;
}

.movie-card{
    width: 300px;
    height: 200px;
    background-color: grey;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px;margin-top: 5px;
}

.movie-card img{
    width: 60%;
}