.image-review {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: auto;
    padding: 25px;
}

.product-title {
    margin: 0;
}

/* .carousel-root{
    background-color: lightgray;
} */

.carousel-root .carousel-slider .slider-wrapper ul li div img {
    background-color: lightgray;
}

.product-complete-detail {
    margin-left: 20px;
}

.product-complete-detail a {
    text-decoration: none;
    font-size: 15px;
    color: #007185;
}

.product-complete-detail a:hover {
    text-decoration: underline;
}

.percentage {
    margin-top: 10px;
    color: red;
    font-size: 18px;
    display: inline;
}

.price {
    font-size: 15px;
    display: inline;
}

.mrp {
    color: grey;
    font-size: 15px;
}

.availabilityStatus {
    color: green;
    font-weight: 600;
}

.returnPolicy {
    margin-top: 5px;
    font-size: 13px;
    color: #007185;
}

.buyNow{
    background-color: palevioletred;
    border-radius: 15px;
}

@media screen and(min-width:480px){
    .image-review {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        padding: 25px;
    }
}